[Desktop Entry]
Type=Application
Name=Backup PC to External Drive
Terminal=true
Exec=bash -c "cd $HOME/github/scripts/backup/bash && ./pc_to_ext_drive.sh"
